//
//  Secrets.xcconfig
//  BusanWelfareProgram
//
//  Created by jh on 2021/09/26.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

API_KEY = hCz7%2BB%2FFviDA47%2BCEmCuym%2BhkX8TNAW9aAshOCncVR5MFyI6euaqvskw90ykrYnJfDtJzsRtvGTwcE811KF%2FxQ%3D%3D
